<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataTables with Flask</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            "ajax": {
                "url": "/data",
                "dataSrc": ""  // Tells DataTables to expect an array at the top level
            },
            "columns": [
                { "data": "Email Address" },
                { "data": "department" },
                // { "data": "column3" }
            ]
        });
    });
    </script>
</head>
<body>
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Email Address</th>
                <th>department</th>
                <!-- <th>Column 3</th> -->
                <!-- Add more column headers as per your CSV file -->
            </tr>
        </thead>
    </table>
</body>
</html>
