.highlight {
    background-color: yellow;
}
.dataTables_wrapper {
    width: 100%;
    overflow: auto;
}

/* Set a fixed height for all cells */
#myTable td {
    height: 50px; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} 

/* Ensure the cell content does not wrap */
#myTable td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px; /* Or whatever maximum width you want */
}

#mynetwork {
    width: 100%;
    height: 80vh; /* Adjust this to change the vertical size */
    border: 1px solid lightgray;
  }
